{% extends 'base.html' %}
{% block head %}
    <title>Home page</title>
{% endblock %}
{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Home Page</h1>
      <p class="col-md-8 fs-4">Hii there, This is a Home page.</p> 
      <p class="col-md-8 fs-4">All the CSS properties are built using Bootstrap</p>
      <p class="col-md-8 fs-4">Page routes are built by Jinja2 Template</p>
      <p class="col-md-8 fs-4">Click on Chat on the nav bar to see the chats.</p>
      <p class="col-md-8 fs-4"> Click on Sign up to enter into the Sign up form.</p>
      <p class="col-md-8 fs-4">Click on Create to create a new message.</p>
      <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
  </div> 
{% endblock %}

