{% extends "base.html" %}
{% block title %}Aboutpage{% endblock %}
{% block body %}
<div class="about-section">
<h1>About Us Page</h1>
<p>Smart Fashion Recommender Application</p>
<p>Balamurugan G(lead)</p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
<div class="column">
<div class="card">
<div class="container">
<h2>Catherine S</h2>
<p class="title">designer</p>
<p>teammember1.</p>
<p>catherine@gmail.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>
<div class="column">
<div class="card">
<div class="container">
<h2>Kalaivani T V</h2>
<p class="title">frontend developer</p>
<p>team member2</p>
<p>kalai@example.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>
<div class="column">
<div class="card">
<div class="container">
<h2>Kumaragurumoorthy R</h2>
<p class="title">Backend developer</p>
<p>team member3</p>
<p>guru@example.com</p>
<p><button class="button">Contact</button></p>
</div>
</div>
</div>
</div>
{% endblock %}